<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Trucks</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

    <style>
        body{
            background-image: url("../static/img/Road.jpg");
            background-size:cover;
            background-repeat: no-repeat ;
            background-attachment: fixed;
        }

    </style>
</head>
<body>
   <div class="row">
           <div class="col-4 align-content-md-center "></div>
           <div class="col-4 align-content-md-center">
                   <h1 class="text-info text-center">Register Truck</h1>
                   <form method="post">
                       <input value="{{ truck.make }}" class="form-control" name="u_make" placeholder="Truck Make" type="text"><br>
                       <input value="{{ truck.model }}" class="form-control" name="u_model" placeholder="Truck Model" type="text"><br>
                       <input value="{{ truck.yom }}" class="form-control" name="u_yom" placeholder="Truck YOM" type="number"><br>
                       <input value="{{ truck.price }}" class="form-control" name="u_price" placeholder="Truck Price" type="number"><br>
                       <input value="{{ truck.power }}" class="form-control" name="u_power" placeholder="Truck Power" type="number"><br>
                       <input class="btn btn-outline-success btn-block mb-3" name="btn_reg" href="" value="Add Truck" type="submit">
                   </form>
           </div>
       </div>
</body>
</html>